
             {{#each this}}
      
         <ul class="table__list table__list--notes">
                <li class="table__item  "> <p>{{name}}</p></li>
              <li class="table__item"> <p>{{created}}</p></li>
                   <li class="table__item"> <p>{{category}}</p></li>
                        <li class="table__item"> <p>{{content}}</p></li>
                             <li class="table__item"> <p>{{dates}}</p></li>
                                  </ul>
    

                                   {{/each}}
       
